[app]
# Host to bind the UDP server
host = "0.0.0.0"
# Port to bind the UDP server
port = 9995

[wireguard]
# Wireguard interface name. This will be used to capture specific logs from kernel.
interface = "wg-server"

[redis]
# Redis configuration
db = 3
host = "localhost"
password = ""
port = 6379
username = "default"

[manager]
# Wireguard manager webhook's URL
url = ""
